body {
  font-size: 18pt;
}

.region-list {
  list-style: none;
  width: 95%;
  margin-left: 2.5%;
  padding-left: 0;
  
}

.region-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.404);
  border: 2px solid rgb(61, 61, 61);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem 3rem;
  cursor: pointer;
}

.region-list > li:hover {
  padding-left: 4rem;
  font-weight: bolder;
}

.hiding-cards {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0rem;
  margin: 0 auto;
  width:90%;
  background-color: aqua;
  list-style: none;
}

.country-item {
  width: 50%;
  height: fit-content;
  padding: 1rem 0rem;
  text-align: center;
}

.country-item:hover {
  background-color: rgba(0, 0, 255, 0.329);
  color: white;
  cursor: pointer;
  font-weight: bold;
}